/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f5f5;
}

/* MAIN WRAPPER */

.forgot-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    min-height:100vh;
}

/* LEFT SIDE */

.forgot-left{

    background:
    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
    ),

    url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");

    background-size:cover;
    background-position:center;

    color:#fff;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px;
}

.forgot-left h1{
    font-size:48px;
    margin-bottom:20px;
}

.forgot-left p{
    max-width:450px;
    font-size:18px;
    line-height:1.8;
    margin-bottom:25px;
}

.forgot-left i{
    font-size:65px;
    opacity:0.8;
}

/* RIGHT SIDE */

.forgot-right{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
    background:#fff;
     text-align:center;
}

/* FORM BOX */

.forgot-box{
    width:100%;
    max-width:420px;

    background:#fff;

    padding:40px;

    border-radius:10px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.forgot-box h2{
    font-size:32px;
    color:#0077ff;
    margin-bottom:10px;
}

.forgot-box p{
    color:#666;
    margin-bottom:25px;
}

/* INPUT */

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box i{
    position:absolute;
    left:12px;
    top:50%;
    transform:translateY(-50%);
    color:#777;
}

.input-box input{
    width:100%;
    padding:12px 12px 12px 40px;

    border:1px solid #ddd;

    border-radius:5px;

    outline:none;

    font-size:15px;
}

.input-box input:focus{
    border-color:#0077ff;
}

/* BUTTON */

.reset-btn{
    width:100%;

    padding:13px;

    border:none;

    background:#0077ff;

    color:#fff;

    border-radius:5px;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

.reset-btn:hover{
    background:#0055cc;
}

/* BACK TO LOGIN */

.back-login{
    text-align:center;
    margin-top:20px;
}

.back-login a{
    color:#0077ff;
    font-size:14px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .forgot-wrapper{
        grid-template-columns:1fr;
    }

    .forgot-left{
        padding:60px 20px;
    }

    .forgot-left h1{
        font-size:36px;
    }

}